﻿@using temp1.Models


<h2>Calculator</h2>

<form method="POST">
    <input class="form-control" name="number1" type="number" value="@ViewBag.number1" />
    <select name="action" class="form-control">
        <option @if (ViewBag.action == "+") { @: selected
                            }
                value="+">
            +
        </option>
        <option @if (ViewBag.action == "-") { @: selected
                            }
                value="-">
            -
        </option>
        <option @if (ViewBag.action == "*") { @: selected
                            }
                value="*">
            *
        </option>
        <option @if (ViewBag.action == "/") { @: selected
                            }
                value="/">
            /
        </option>
    </select>
    <input class="form-control" name="number2" type="number" value="@ViewBag.number2" />

    <button type="submit" class="btn btn-default">Equal</button>

    <input type="text" class="form-control" value="@ViewBag.result" readonly>

    <br />
    <br />

    @{
        if (ViewBag.logList != null && ((List<LogModel>)ViewBag.logList).Count != 0)
        {
            foreach (LogModel item in ViewBag.logList)
            {
                @item.dateTime @:result:
                @item.result
                <br />
            }
        }
        else
        {
            @:Log is empty now!
        }
    }



</form>